.success{
  color: greenyellow;
  background: green;
  font-size: 1vw;
  border: solid 1px black;
  margin-bottom: 2vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.error{
  color: red;
  font-size: 1vw;
  border: solid 1px black;
  margin-bottom: 2vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}